@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
}

.fr {
    font-weight: 300;
}

.fb {
    font-weight: 700;
}

.green {
    color: #5bbc2e;
}

.black {
    color: black;
}

.bg-green {
    background-color: #5bbc2e;
}

.white {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.p-60 {
    padding: 32vh 0 0 0;
}

.f-90 {
    font-size: 90px;
}

.f-25 {
    font-size: 25px;
}

.img-header {
    width: 90%;
    float: right;
}

@media (max-width: 768px) {

    .img-header {
        float: none;
    }
}